{% extends 'base.html' %}
{% block content %}
<h1>Hello Courts</h1>
<div class="collapse navbar-collapse" id="navbarResponsive">

    <ul class="navbar-nav text-uppercase ml-auto">

        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'create' %}">Create</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'update' %}">Update</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'delete' %}">Delete</a></li>

    </ul>

</div>
<!--put our read form here-->
{% endblock%}