{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class = "text-left">
        <h2 class="section-heading text-uppercase">Add Court</h2>
    </div>
    <br>
    <form name="form" method="post" action="{% url 'addCourt' %}">
        {% csrf_token %}
        <label for="courtname">Court name:</label>
        <input type="text" name='courtname' id='courtname' autofocus>
        <br><br>

        <label for="courtaddress">Court Address:</label>
        <input type="text" name='courtaddress' id='courtaddress'>
        <br><br>

        <label for="numberofcourts">Number of Courts:</label>
        <input type="text" name='numberofcourts' id='numberofcourts'>
        <br><br>

        <label for="courtofficiators">Court Officiators:</label>
        <select id="courtofficiators" name="courtofficiators">
            <option value= "No" ></option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        <br><br>

        <label for="lights">Lights:</label>
        <select id="lights" name="lights">
            <option value= "Yes" ></option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        <br><br>

        <label for="closingtime">Closing Time:</label>
        <select id="closingtime" name="closingtime">
            <option value="NA">NA</option>
            <option value="9:00 PM">9:00 PM</option>
            <option value="9:30 PM">9:30 PM</option>
            <option value="10:00 PM">10 PM</option>
            <option value="10:30 PM">10:30 PM</option>
            <option value="11:00 PM">11 PM</option>
            <option value="11:30 PM">11:30 PM</option>
            <option value="12 AM">12 AM</option>
        </select>

        <button type="submit">Add</button>
    </form>
{% endblock %}
</div>